# Node.js dependencies
node_modules/

# Python virtual environment
venv/

# Next.js build and cache files
.next/
out/
dist/

# Logs & system files
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log
.DS_Store
*.log

# Environment variables
.env
.env.local
.env.development.local
.env.production.local
.env.test.local

# Django specific ignores
__pycache__/
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
static/

# Ignore Django migrations except __init__.py
backend/**/migrations/*.py
!backend/**/migrations/__init__.py
backend/**/migrations/__pycache__/

# PostgreSQL data
pgdata/
*.sql

# VSCode settings
.vscode/

# macOS system files
*.swp

# Windows system files
Thumbs.db
desktop.ini

# Python bytecode & cache
*.pyc
*.pyo
*.pyd
